/* General Button Styling */
.button {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    header nav ul {
        display: block;
        text-align: center;
        padding: 0;
    }

    header li {
        display: block;
        padding: 10px 0;
        width: 100%;
    }

    .button {
        display: block;
        width: 90%; /* Ensure buttons have some space on either side */
        margin: 0 auto 10px auto; /* Center the buttons */
        text-align: center;
        padding: 15px 0;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    .button {
        font-size: 14px;
        padding: 12px 0;
        width: 90%; /* Keep width at 90% for smaller screens */
        margin: 0 auto 10px auto; /* Center the buttons */
    }
}